name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Format
      run: cargo fmt --check
    - name: Clippy
      run: cargo clippy --all -- -W clippy::pedantic  -D warnings 
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
